In [11]:
import pandas as pd
df=pd.read_csv("mobil.csv")
df.head()

   score  price
0     68   9999
1     63   9990
2     75  11999
3     73  11999
4     69  11999

In [15]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(df.drop)

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)